<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">API jugadores</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link {{activeIndex}}" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{activeAll}}" href="/jugadores">Ver todos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{activeCreate}}" href="/jugadores/agregar">Agregar</a>
            </li>
        </ul>
        <form class="d-flex" >
            <button type="button" class="btn btn-light me-2" >Iniciar sesion</button>
            <a href="/signup" class="btn btn-light me-2">Registrate</a>
            
        </form>
        </div>
    </div>
</nav>